.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .navheaderwrap {
    background: url("https://img.freepik.com/premium-photo/tropical-maldives-island-with-white-sandy-beach-sea_87394-5742.jpg?size=626&ext=jpg&ga=GA1.2.960183839.1681590785&semt=ais");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }